* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: responsive-icons;
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/responsive-icons.woff);
}

@font-face {
    font-family: font-awesome;
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/fontawesome-webfont.woff);
}

h1 {
    margin: 0;
}

html,
body {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    color: #f9f5e7;
    background: #f9f5e7;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header,
#container,
.footer {
    min-width: 320px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    background: #f9f5e7 url(../../images/background/pattern_slashes.png);
    color: #000;
    margin: 5px 10px;
    border: 1px solid #F9F5E7;
    border-radius: 3px;
    width: 183px;
    height: 60px;
    font-size: 22px; /*3vw*/
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.button:hover {
    border: 1px solid #000;
    background: url(../../images/icons/arrow_right-black.png) no-repeat 95%, url(../../images/background/pattern_slashes.png), #f9f5e7;
}

/*
0. /Базовые настройки
------------------------------------------------------------------*/

/*
1. Блок меню
------------------------------------------------------------------*/
.header {
    background: url(../../images/background/bg-nav-foot.png);
    font-size: 16px;
    height: 65px;
    line-height: 65px;
    overflow: hidden;
    width: 100%;
}

.header li {
    padding: 0 10px;
    display: inline-block;
    font-weight: bold;
}

.header .logo-frame {
    height: 65px;
    width: 200px;
    margin: 0;
    float: left;
}

#main-logo {
    width: 165px;
    display: block;
}

#mini-logo,
#mobile-logo {
    display: none;
}

.header .logo-frame img {
    height: 65px;
    width: 165px;
}

.header .logo-frame h1 {
    height: 65px;
}

.header .logo-frame a {
    height: 65px;
    float: left;
    padding: 0 20px;
    width: 165px;
}

.menu-wrap {
    float: right;
    width: 355px;
}

.nav {
    margin: 0;
    padding: 0;
}

.nav a {
    color: inherit;
}

.nav li:hover > .submenu {
    display: block; /*Important for submenu*/
    /*visibility: visible;
    opacity: 1;*/
}

.left-menu {
    display: none;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 65px;
    left: 0;
    z-index: 500;
    background: url(../../images/background/bg-nav-foot.png);
    width: 100%;
    cursor: default;
    border: none !important;
}

.left-menu li {
    color: #f9f5e7;
}

.left-burger-menu {
    float: left;
    width: 41px;
}

.left-burger-menu li:hover .left-menu {
    display: block !important;
}

.left-burger-menu > li:before {
    content: '\f0c9';
    font-family: 'font-awesome';
    height: 24px;
    font-size: 24px;
}

.left-burger-menu:hover {
    color: #676560;
    cursor: pointer;
}

.left-menu a {
    cursor: default;
    font-size: 14px !important;
}

.left-menu .logo-frame a {
    width: 166px;
    cursor: pointer;
}

.left-menu > li:hover > a {
    border-bottom: 1px solid #f9f5e7;
    padding-bottom: 4px;
}

.submenu {
    font-size: 15px;
    text-transform: none;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 65px;
    right: 0;
    z-index: 100;
    display: none;
    background: url(../../images/background/bg-nav-foot.png);
    height: 100%;
    width: 100%;
    text-align: center;
}

.submenu > li:first-child {
    /*margin: 0 0 0 200px; Further it will change*/
}

.submenu li {
    vertical-align: top;
    display: block;
    padding: 0;
    text-align: center;
    width: 100%;
    position: relative;
    /*z-index: 100;*/
}

.submenu li:hover {
    background: #373942;
    color: #f9f5e7;
}

.submenu li a {
    padding: 1px 0 4px;
    cursor: pointer;
}

.submenu li ul {
    position: relative;
}

.hidden-menu {
    background: url(../../images/background/bg-nav-foot.png);
    display: none;
}

.submenu li li {
    color: #676560;
    display: block;
    line-height: 30px;
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 10px;
}

.submenu a:focus ~ ul li {
    margin-top: 0;
}

.submenu a:focus + img,
.submenu a:active + img {
    display: block;
}

.submenu li li a:hover {
    border-bottom: 1px solid #676560;
    padding-bottom: 3px;
}

.submenu .uppercase_text,
.submenu .uppercase_text li {
    color: #f9f5e7;
    display: block;
    width: 100%;
    padding: 0;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    border-top: 1px solid #676560;
}

ul.uppercase_text {
    height: auto !important;
    border: none !important;
}

ul.uppercase_text li {
    background: url(../../images/background/bg-nav-foot.png);
}

a.uppercase_text.click:after,
a.uppercase_text.after:after {
    color: #b80c01;
    font-family: font-awesome;
    margin-left: 10px;
}

a.uppercase_text.click:after {
    content: '\f0d7';
}

a.uppercase_text.after:after {
    content: '\f0d8';
}

.submenu ul.uppercase_text li a {
    display: block;
    padding: 0;
    line-height: 48px;
    width: 100%;
    height: 48px;
    transition: none !important;
}

.submenu ul.hidden-menu li {
    padding: 0;
}

.submenu ul.hidden-menu li a {
    display: block;
    padding: 0;
    line-height: 35px;
    height: 35px;
    width: 100%;
    border: none;
}

.submenu .uppercase_text li a:hover {
    border: none;
}

.submenu .uppercase_text img {
    padding-top: 20px;
    padding-right: 5px;
    width: 30px;
    height: 15px;
}

ul.uppercase_text {
    height: auto !important;
    margin-bottom: -1px;
}

ul.uppercase_text li {
    background: url(../../images/background/bg-nav-foot.png);
}

.li_red {
    color: #b80c01 !important;
}

.link_more {
    color: inherit !important;
}

.image-container {
    width: 390px;
}

.sm-new {
    height: auto;
    border-bottom: 1px solid #676560;
}

/*.left-menu .sm-new ul {
    height: 256px;}
*/

.left-menu .sm-new .image-container {
    display: none;
}

.sm-new .image-container a {
    width: 163px;
    height: 163px;
    float: left;
    display: block;
    line-height: 100%;
    padding: 0;
    margin: 5px;
    cursor: pointer;
}

.sm-new .image-container a:hover {
    border: none;
    opacity: 0.5;
    transition: all 300ms ease-out;
}

.sm-guys {
    height: auto;
    border-bottom: 1px solid #676560;
}

.sm-guys ul {
    /*height: 334px;*/
}

.sm-girls {
    height: auto;
    border-bottom: 1px solid #676560;
}

.sm-girls ul {
    /*height: 400px;*/
}

.sm-ghicks {
    height: auto;
    border-bottom: 1px solid #676560;
}

.sm-ghicks ul {
    /*height: 360px;*/
}

.sm-jeans {
    height: auto;
    border-bottom: 1px solid #676560;
}

.sm-jeans .left-col,
.sm-jeans .right-col {
    margin: 0;
}

.sm-jeans .image-box {
    float: left;
    padding: 3px;
    position: relative;
}

.sm-jeans img {
    width: 76px;
    height: 144px;
}

.sm-jeans li:nth-child(2) {
    display: none;
}

.sm-jeans a {
    cursor: pointer;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    height: 48px;
}

.sm-jeans h4 {
    line-height: 48px;
    border-top: 1px solid #676560;
}

.sm-jeans a:hover span {
    border-bottom: 1px solid #676560; /**/
    padding-bottom: 0;
}

.sm-jeans a span {
    width: 76px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 16px;
    color: #676560;
    display: block;
    padding-bottom: 1px;
    position: absolute;
    bottom: 9px;
    text-align: center;
    font-weight: 400;
}

.sm-jeans li {
    padding: 0;
}

.sm-jeans-inner {
    display: none;
}

.sm-sale {
    height: auto;
    border-bottom: 1px solid #676560;
}

.left-menu .sm-sale li:hover {
    background-color: transparent;
}

.left-menu .sm-sale li li {
    width: 188px;
    margin: auto;
}

.left-menu .sm-sale .uppercase_text {
    cursor: default;
}

.right-menu {
    margin: 0 15px 0 0;
    float: right;
}

.right-menu img {
    width: 26px;
    height: 26px;
    position: relative;
    top: 5px;
}

.right-menu #globe span {
    margin-left: 3px;
}

.right-menu input {
    display: none;
    width: 195px;
    height: 37px;
    background: transparent;
    border: 1px solid #676560;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #f9f5e7;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 14px;
    padding-right: 42px;
    position: relative;
    bottom: 2px;
}

/*Clear search cross in input*/
.right-menu input::-webkit-search-cancel-button {
    display: none;
}

.right-menu input::-ms-clear {
    display: none;
}

/*---------------------------*/

.right-menu a {
    color: inherit;
}

.right-menu a:hover {
    color: #676560;
}

.right-menu a.search-button {
    display: inline-block;
    width: 35px;
    height: 35px;
    z-index: 2;
    position: relative;
    right: 12px;
    top: 11px;
    outline: none;
}

.right-menu input:focus {
    outline: none;
}

.right-menu .search-button img {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 25%;
    left: 25%;
}

.right-menu > li:first-child {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 4px;
    left: 10px;
}

.right-menu > li {
    padding: 0 10px 0;
    height: 65px;
    cursor: pointer;
}

.right-menu > li:hover {
    color: #676560;
}

.right-menu .submenu {
    color: #f9f5e7;
    cursor: default;
    border-top: 1px solid #676560;
}

.right-menu .submenu:hover {
    color: #f9f5e7;
}

.right-menu .submenu {
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 25px;
    border-radius: 0 0 3px 3px;
}

.right-menu .submenu ul {
    padding: 0;
}

.right-menu .submenu ul li {
    display: block;
    font-weight: 500;
    border-bottom: 1px solid #676560;
}

.right-menu .sm-currency {
    display: none; /*block*/
    width: 330px;
    height: 266px;
    padding: 0 5px 20px 20px;
}

.right-menu .sm-currency ul li:first-child {
    text-transform: none;
}

.right-menu .sm-currency ul li {
    padding: 17px 0;
    text-align: left;
}

.right-menu .sm-currency ul li:hover {
    background: transparent;
}

.right-menu .sm-currency li:nth-child(even) {
    padding: 0;
}

.right-menu .sm-currency li a {
    display: block;
    padding: 17px 0;
}

.right-menu .sm-currency li a:hover {
    color: #f9f5e7;
}

.right-menu .sm-currency li span:last-child:after {
    content: url(../../images/icons/arrow_right.png);
    padding-left: 10px;
}

.right-menu .sm-currency li span:last-child {
    float: right;
}

.right-menu #switch-box {
    width: 150px;
    height: 33px;
    margin: 0;
}

.right-menu .sm-currency .btn-trigger-frame {
    border: 1px solid #f9f5e7;
    border-radius: 3px;
    width: 150px;
    height: 33px;
    position: relative;
    float: right;
    bottom: 5px;
}

.btn-trigger-frame *,
.btn-trigger-frame *:before,
.btn-trigger-frame *:after {
    box-sizing: border-box;
}

.btn-trigger-frame input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-trigger-frame input[type="checkbox"][disabled] ~ label {
    pointer-events: none;
}

.btn-trigger-frame input[type="checkbox"][disabled] ~ label .switch-button {
    opacity: 0.4;
}

.btn-trigger-frame input[type="checkbox"]:checked ~ label .switch-button:before {
    content: attr(data-unchecked);
    left: 0;
}

.btn-trigger-frame input[type="checkbox"]:checked ~ label .switch-button:after {
    content: attr(data-checked);
    transform: translate3d(75px, 0, 0);
}

.btn-trigger-frame label {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.btn-trigger-frame label .switch-button {
    height: 33px;
    flex: 0 0 150px;
    border-radius: 3px;
    position: relative;
    transition: background-color 0.3s;
    background: transparent;
}

.btn-trigger-frame label .switch-button:before {
    content: attr(data-checked);
    position: absolute;
    top: 0;
    text-transform: uppercase;
    text-align: center;
    left: 75px;
    font-size: 14px;
    line-height: 33px;
    width: 75px;
    padding: 0 12px;
    color: #f9f5e7;
}

.btn-trigger-frame label .switch-button:after {
    content: attr(data-unchecked);
    position: absolute;
    z-index: 5;
    text-transform: uppercase;
    text-align: center;
    background: #f9f5e7;
    color: #000;
    top: 0;
    left: 0;
    border-radius: 2px;
    width: 75px;
    line-height: 33px;
    font-size: 14px;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
}

#globe {
    margin-right: 4px;
}

#globe + span {
    position: relative;
    bottom: 4px;
}

#globe:before,
#user-head:before,
#hanger:before,
#heart:before,
#bag:before {
    font-family: "responsive-icons";
}

#globe:before {
    content: "";
    font-size: 22px;
}

#user-head:before {
    content: "";
    font-size: 24px;
}

#hanger:before {
    content: "";
    font-size: 26px;
}

#heart:before {
    content: "";
    font-size: 20px;
}

#bag:before {
    content: "";
    font-size: 24px;
}

.right-menu .sm-user {
    display: none; /*block*/
    width: 100%;
    height: 145px;
}

.right-menu .sm-user ul li {
    padding: 0;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.right-menu .sm-user ul li a {
    display: block;
    width: 40%;
    padding: 11px 30%;
    color: #f9f5e7;
}

.right-menu .sm-user ul li:hover {
    background: #373942;
    color: #f9f5e7;
}

.right-menu .sm-hanger {
    display: none; /*block*/
    width: 457px;
    height: 330px;
    padding: 30px;
}

.menu-inside-content-wrap .content {
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    line-height: 20px;
    width: 161px;
    height: 208px;
    margin: 26px 15px 30px;
    position: absolute;
    z-index: 500;
    text-align: center;
}

.menu-inside-content-wrap h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0;
}

.right-menu .sm-hanger .button {
    width: 159px;
    margin: 0;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 14px !important;
}

.right-menu .sm-hanger p {
    margin: 1em;
}

.right-menu .sm-hanger .menu-inside-content-wrap img {
    width: 100%;
    height: 100%;
    position: relative;
}

.right-menu .sm-heart {
    display: none; /*block*/
    width: 100%;
    height: 290px;
    left: 0;
}

.right-menu .heart-wrapper {
    padding-top: 47px;
    width: 558px;
    height: 195px;
    margin: auto;
}

.right-menu .heart-menu-left {
    float: left;
}

.right-menu .heart-menu-left .menu-left-title {
    position: relative;
    margin-bottom: 15px;
}

.right-menu .heart-menu-left .menu-left-title img {
    width: 21px;
    height: 20px;
    position: relative;
    top: 2px;
    margin-right: 7px;
    border: none !important;
}

.right-menu .heart-menu-left .menu-left-title h3 {
    float: left;
    margin: 0;
    font-size: 18px;
}

.right-menu .heart-menu-left .menu-left-title a {
    color: #676560;
    font-size: 13px;
    line-height: 16px;
    margin: 6px 0;
    float: right;
    position: absolute;
    right: 10px;
}

.right-menu .heart-menu-left .menu-left-title a:hover {
    border-bottom: 1px solid #676560;
}

.clearfix {
    clear: both;
}

.right-menu .heart-menu-left li {
    width: 154px;
    height: 154px;
    float: left;
    border: none !important;
    padding: 0;
    margin-right: 10px;
}

.right-menu .heart-menu-left img {
    border: 3px solid #f9f5e7;
    width: 148px;
    height: 148px;
    position: static;
}

.right-menu .heart-menu-center {
    width: 210px;
    margin: 38px 0 0 20px;
    font-size: 15px;
    line-height: 18px;
    float: left;
    text-align: left;
}

.right-menu .heart-menu-center p {
    margin: 0 0 15px 0;
    font-size: 14px;
}

.right-menu .heart-menu-center p:last-child {
    font-size: 13px;
    line-height: 16px;
    color: #676560;
}

.right-menu .heart-menu-right {
    float: right;
    width: 248px;
    height: 197px;
    overflow-y: scroll;
    display: none;
}

.right-menu .sm-bag {
    display: none; /*block*/
    width: 450px;
    height: 460px;
    padding: 30px 40px;
}

.right-menu .sm-bag .bag-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #676560;
    text-align: left;
}

.sm-bag .bag-content {
    box-sizing: border-box;
    padding-top: 20px;
    height: 100%;
    position: relative;
}

.bag-title a {
    font-size: 20px;
    line-height: 25px;
    padding: 10px 0;
}

.sm-bag a:hover {
    color: #f9f5e7;
}

.bag-title span {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    float: right;
}

.right-menu .sm-bag .button {
    background: #b80c01;
    font-size: 16px !important;
    margin: 0;
    width: 100%;
    height: 40px;
    color: #f9f5e7;
    line-height: 40px;
    border: none;
    box-shadow: 0 2px 7px -1px rgba(184, 12, 1, 0.8);
}

.right-menu .sm-bag .button:hover {
    background: #676560;
    box-shadow: 0 2px 7px 0 rgba(103, 101, 96, 0.8);
}

.right-menu .sm-bag p {
    margin: 0;
    text-align: center;
    font-weight: 500;
    padding: 15vh 0;
}

.sm-bag .bag-share {
    position: absolute;
    bottom: 25px;
    left: 0;
}

.sm-bag .bag-share a {
    font-weight: 500;
    line-height: 16px;
    vertical-align: middle;
}

.sm-bag .bag-share img {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

/*
1. /Блок меню
------------------------------------------------------------------*/
/*
2. Блок container
------------------------------------------------------------------*/
#container {
    width: 100%;
    padding: 0;
    margin: auto;
}

/*
2.1. Блоки banner
------------------------------------------------------------------*/
.banner {
    font-weight: 500;
    text-align: center;
    max-width: 100%;
    margin: 0 auto 30px;
    padding: 0;
    position: relative;
}

.banner img {
    width: 100%;
    display: none;
}

.banner .banner-min {
    display: block;
}

.banner div .title {
    font-size: 56px; /*7.5vw*/
    line-height: 65px; /*8.5vw*/
    margin: 5px 0;
}

.banner div .text_content {
    font-size: 19px; /*2.5vw*/
    line-height: 28px; /*3.5vw*/
}

.banner .text_b1 {
    width: 70%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .text_b2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .text_b3 {
    position: absolute;
    top: 43%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.banner .text_b3 img:first-child {
    width: 345px; /*45vw*/
    display: block;
}

.banner .text_b2 ~ .btn-container-min .button {
    width: 92%;
}

.banner .btn-container {
    display: none;
}

.banner .btn-container-min {
    padding: 2.5vw 0 4vw;
    display: block;
}

.banner .btn-container-min .button {
    margin: 0 1.9vw;
    width: 43.6%;
    border: 1px solid #000000;
}

/*
2.2. Блок gallery
------------------------------------------------------------------*/
.gallery { /*Turn off the gallery*/
    width: 100%;
    margin: 0 auto;
    text-transform: none;
}

.gallery_title {
    width: 70%;
    margin: 0 15%;
}

.collections {
    width: 100%;
    margin: 20px auto;
    padding: 0;
    display: inline-block;
}

.gal-item {
    margin: 0 10px 20px;
    position: relative;
    background: #000;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
}

.item-hover-pos {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;

}

.item-hover-pos p {
    width: 200px;
    font-size: 18px;
    line-height: 26px;
    margin: 0 auto;
}

.item-hover-pos .button {
    width: 200px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
}

/*.gallery-block {
    width: 260px;
}*/

.mosaicflow {
    vertical-align: top;
    margin: 0 auto;
    width: 96%;
}

.mosaicflow__column {
    float: left;
    text-align: center;
}

.mosaicflow__item img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    transition: all 300ms ease-out;
}

/*Hover for images*/
.gal-item:hover .item-hover-pos {
    display: block;
}

.gal-item:hover img {
    opacity: 0.25;
}

/*---------------------------------*/

/*
2.2.1. Блок stat
------------------------------------------------------------------*/

.stat {
    clear: both;
    width: 100%;
    text-align: center;
    margin: 0 0 60px;
    text-transform: uppercase;
}

.col {
    background-image: url(../../images/background/pattern_slashes.png);
    display: block;
    height: 140px;
    padding: 10px;
    margin: 0 15px 30px;
    color: #000;
    border: solid 10px;
    border-image: url("../../images/background/bg-nav-foot.png") 10 repeat;
}

.col h6 {
    font-size: 70px;
    margin: 10px 0 5px 0;
}

.col b {
    font-size: 14px;
}

/*
2.2. /Блок gallery
------------------------------------------------------------------*/

/*
2.3. Слайдер
------------------------------------------------------------------*/

.slider {
    text-transform: none;
    line-height: 35px; /*2.1875rem*/
    text-align: left;
    background: #000;
    position: relative;
}

.slider-bg {
    height: 680px;
    min-width: 100%;
    min-height: 475px;
    background: #000 url(../../images/background/bg-slider.jpg) repeat-x fixed 50%;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.4;
    overflow: hidden;
}

.slide-wrapper {
    position: absolute;
    top: 10vw;
    left: 3.5%;
    width: 92.5%;
}

.client {
    display: inline-block;
    font-size: 23px;
}

.frame {
    width: 256px; /*33.5vw*/
    height: 255px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    display: block;
}

.frame img {
    position: absolute;
    top: 0;
    right: 0;
    width: 390px;
}

.text {
    margin: 20px 0 0 50px;
    vertical-align: top;
}

.text:before {
    content: '\f10d';
    font-family: "font-awesome";
    height: 35px;
    font-size: 45px;
    display: block;
    margin-left: -40px;
    opacity: 0.8;
}

.text:after {
    content: '\f10e';
    font-family: "font-awesome";
    height: 35px;
    display: block;
    font-size: 45px;
    text-align: right;
    margin-top: 8px;
    margin-right: 40px;
    opacity: 0.8;
}

.author {
    padding: 10px 0;
    margin-left: 50px;
    width: 80%;
}

.carousel-indicators {
    width: 46px;
    margin: 0 auto;
}

.carousel-indicators li {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid grey;
    border-radius: 50%;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 0;
    background-color: #f9f5e7;
}

/* ----------------------------------------Bootstrap carousel--------------------------------------------------------*/

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }

    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-caption {
    max-width: 700px;
    width: 100%;
    bottom: 20px;
    z-index: 10;
    padding: 20px 0;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-indicators {
    top: 100%;
}

/* ----------------------------------------END Bootstrap Carousel----------------------------------------------------*/

/*
2.3 /Слайдер
------------------------------------------------------------------*/

/*
3. Блок footer
------------------------------------------------------------------*/
.footer {
    background: url(../../images/background/bg-nav-foot.png);
    height: 135%;
    font-weight: 500;
    text-align: center;
    padding: 20px 0 0;
    box-sizing: border-box;
}

.footer a {
    text-decoration: underline;
    color: #f9f5e7;
}

.footer .title {
    margin: 0;
    font-size: 25px;
    line-height: 46px;
}

.footer .content-top p {
    width: 92%;
    margin: 0 auto;
    font-size: 17px;
}

.footer .text_content {
    font-size: 18px;
    line-height: 20px;
    margin: 25px 0;
}

.footer hr {
    width: 92%;
    margin: 0 auto 40px;
}

.block {
    text-align: left;
    width: 260px;
}

.content-bottom {
    height: 70%;
    width: 92%;
    position: relative;
    margin: 0 auto;
}

.content-bottom .left-col p {
    display: block;
    text-align: center;
}

.footer .left-col {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    margin: -7px 0 0;
    float: left;
}

.social-group,
.right-col {
    vertical-align: top;
}

.left-col .block {
    width: 400px;
    margin: 0 auto 35px;
}

.left-col .b-find {
    float: left;
    width: 100%;
}

.left-col .left-col-bottom {
    position: relative;
    top: 5px;
    width: 100%;
    height: 199px;
    clear: both;
}

.left-col .left-col-bottom .b-card,
.left-col .left-col-bottom .b-brands {
    width: 100%;
    height: 82px;
    float: left;
}

.left-col-bottom .btn-left {
    float: left;
}

.left-col-bottom .btn-right {
    float: right;
}

.left-col p {
    display: inline-block;
    font-size: 20px;
    line-height: 38px;
    font-weight: 500;
    margin: 0;
}

.left-col .block i.fa {
    margin-right: 10px;
}

.left-col .b-mail {
    width: 100%;
    height: 97px;
}

.left-col .b-mail i.fa {
    font-size: 52px;
    line-height: 52px;
}

.left-col .b-mail p {
    display: block;
    text-align: center;
}

.left-col .b-mail p span {
    vertical-align: 30%;
}

.left-col .b-find i.fa {
    font-size: 44px;
}

.left-col .b-find p span {
    vertical-align: 20%;
}

.left-col .b-card i.fa {
    font-size: 30px;
    line-height: 30px;
}

.left-col .b-card p span {
    vertical-align: 10%;
}

.left-col .b-brands p {
    margin-bottom: 4px;
}

.left-col .button {
    margin: 0;
    background: #b80c01;
    width: 159px;
    height: 40px;
    color: #f9f5e7;
    font-size: 16px;
    line-height: 40px;
    border: none;
    box-shadow: 0 2px 7px -1px rgba(184, 12, 1, 0.8);
}

.left-col .button:hover {
    background: #676560;
    box-shadow: 0 2px 7px 0 rgba(103, 101, 96, 0.8);
}

.left-col .b-mail input {
    width: 73%;
    height: 40px;
    border: 1px solid #f9f5e7;
    background: transparent;
    font-size: 18px;
    color: #f9f5e7;
    border-radius: 3px;
    box-sizing: border-box;
    margin-right: 1%;
    padding-left: 2px;
    float: left;
}

.left-col .b-mail input:focus {
    outline: none;
    border: 1px solid #b80c01;
    box-shadow: 0 0 7px 0 rgba(184, 12, 1, 0.8);
}

.left-col .b-mail input:focus::-webkit-input-placeholder {
    color: transparent;
}

.left-col .b-mail input:focus::-moz-placeholder {
    color: transparent;
}

.left-col .b-mail input:focus:-moz-placeholder {
    color: transparent;
}

.left-col .b-mail input:focus:-ms-input-placeholder {
    color: transparent;
}

.left-col .b-mail .button {
    width: 25%;
    box-sizing: border-box;
    float: right;
}

.left-col .b-find .button {
    width: 100%;
}

.left-col .left-col-bottom .button {
    width: 49%;
}

.left-col .left-col-bottom a {
    text-decoration: none;
}

.left-col .left-col-bottom .b-brands .button {
    font-family: "Garamond", sans-serif;
    text-transform: none;
}

.b-brands img {
    width: 98px;
    height: 18px;
    vertical-align: middle;
}

.social-group {
    width: 375px;
    height: 55px;
    margin: 10px auto;
}

.social-group a {
    display: inline-block;
    height: 55px;
    margin: 0 8px;
}

.social-frame {
    width: 55px;
    height: 55px;
    border: 3px solid #f9f5e7;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    transition: all 400ms ease-out;
    box-sizing: border-box;
}

.social-group i.fa {
    color: #f9f5e7;
    line-height: 49px;
    font-size: 21px;
    transition: all 400ms ease-out;
}

.social-frame:hover {
    border-color: #b80c01;
    transition: all 400ms ease-out;
}

.social-frame:hover i.fa {
    color: #b80c01;
    transform: rotate(360deg);
    transition: all 400ms ease-out;
}

.footer .right-col {
    width: 100%;
    margin: -4px 0 0;
    float: right;
    position: absolute;
    top: 600px;
    left: 0;
}

.right-col .block {
    width: 33%;
}

.right-col .block h6, .right-col .block li {
    font-size: 14px;
    line-height: 18px;
}

.right-col .block li {
    padding: 3px 0;
}

.block h6 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.right-col ul {
    font-weight: 400;
    padding: 0;
    margin: 10px 0 25px;
}

.hidden-block,
.right-col #push-btn {
    display: none;
}

.right-col .active {
    display: block;
}

.right-col .menu-active {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.right-col .menu-active:before {
    content: '\f196';
    font-family: "font-awesome";
    font-size: 30px;
    display: inline-block;
    margin-bottom: 20px;
}

.right-col #push-btn:checked ~ .menu-active:before {
    content: '\f147';
    font-family: "font-awesome";
}

.block ul a {
    text-decoration: none;
}

.block ul a:hover {
    text-decoration: underline;
}

.block li {
    padding: 4px 0;
}

.b-help {
    float: left;
}

.b-about, .b-privacy {
    width: 220px;
    float: left;
}

.b-about {
    padding: 0 5.5% 0 3.5%;
    box-sizing: border-box;
}

/*
3. /Блок footer
------------------------------------------------------------------*/

/*Adaptive
------------------------------------------------------------------*/
@media screen and (max-width: 700px) {
    .banner .text_b3 img:first-child {
        width: 300px;
        margin: auto;
    }

    .banner div .title {
        font-size: 48px;
        line-height: 58px;
    }

    .banner div .text_content {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 620px) {
    .mosaicflow {
        width: 350px;
    }

    .item-hover-pos {
        left: 0;
        right: 0;
        bottom: 19%;
    }

    .item-hover-pos .button {
        height: 40px;
        font-size: 16px !important;
        line-height: 40px;
    }
}

@media screen and (max-width: 600px) {
    .button {
        font-size: 20px !important;
    }

    .frame {
        width: 220px;
        height: 220px;
    }

    .frame img {
        width: 350px;
    }

    .right-menu .sm-heart {
        height: 250px;
    }

    .right-menu .heart-wrapper {
        padding-top: 35px;
        width: 465px;
    }

    .right-menu .heart-menu-left .menu-left-title h3 {
        font-size: 16px;
    }

    .right-menu .heart-menu-left .menu-left-title a {
        font-size: 12px;
        top: 3px;
    }

    .right-menu .heart-menu-left li {
        width: 126px;
        height: 126px;

    }

    .right-menu .heart-menu-left img {
        width: 120px;
        height: 120px;
    }

    .right-menu .heart-menu-center {
        width: 190px;
        margin: 38px 0 0;
    }

    .right-menu .heart-menu-center p {
        font-size: 13px;
    }

    .right-menu .heart-menu-center p:last-child {
        font-size: 12px;
        line-height: 15px;
    }

    .banner .text_b3 img:first-child {
        width: 280px;
        margin: auto;
    }

    .banner div .title {
        font-size: 46px;
        line-height: 56px;
    }

    .banner div .text_content {
        font-size: 15px;
        line-height: 23px;
    }
}

@media screen and (max-width: 571px) {
    .header {
        height: 130px;
    }

    .header .logo-frame #main-logo {
        display: block;
        width: 165px;
    }

    .header .logo-frame {
        width: 205px;
        float: none;
        margin: 0 auto;
    }

    .header .menu-wrap {
        float: none;
        margin: 0 auto;
        width: 302px;
        height: 65px;
    }

    .header .menu-wrap .left-burger-menu {
        width: 40px !important;
    }

    .header .left-menu {
        top: 130px;
        width: 50%;
        border-bottom: 1px solid #676560;
    }

    .header .left-menu .submenu {
        top: -1px;
        width: 100%;
        left: 100%;
    }

    .header .left-menu > li {
        position: relative;
        height: 48px;
        line-height: 48px;
        display: block;
        border-top: 1px solid #676560;
    }
    .header .right-menu {
        margin: 0;
    }

    .header .right-menu > li {
        padding: 0 7px 0;
    }

    .header .right-menu > li:first-child {
        width: 20px;
        left: 6px;
    }

    .header .right-menu .submenu {
        top: 130px;
    }

    /*left-menu*/
    .right-menu .sm-currency {
        padding: 0 20px 20px;
        width: 100%;
    }

    .right-menu .sm-user {
        width: 100%;
    }

    .right-menu .sm-hanger {
        width: 100%;
        height: auto;
    }

    .right-menu .sm-hanger .menu-inside-content-wrap {
        width: 100%;
        margin: auto;
    }

    .right-menu .sm-hanger .content {
        width: 30%;
        margin: 0;
        top: 55%;
        left: 25%;
        transform: translate(-50%, -50%);
    }

    .right-menu .sm-hanger .content h3 {
        font-size: 6vw;
        line-height: 6vw;
    }

    .right-menu .sm-hanger .content p {
        font-size: 2.5vw;
        line-height: 3.5vw;
    }

    .right-menu .sm-hanger .content .button {
        font-size: 13px !important;
        width: 99%;
    }

    .right-menu .sm-heart {
        height: auto !important;
    }

    .right-menu .sm-heart .heart-wrapper {
        padding-top: 30px;
        width: 85%;
        margin: 0 auto;
    }

    .right-menu .sm-heart > div {
        display: block;
        width: 100%;
    }

    .right-menu .heart-menu-left {
        float: none;
        width: 272px;
        margin: 0 auto;
    }

    .right-menu .heart-menu-left .menu-left-title {
        width: 100%;
    }

    .right-menu .heart-menu-center {
        width: 100%;
        margin: 38px 0 15px;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
    }

    .right-menu .heart-menu-center p {
        font-size: 14px;
    }

    .right-menu .heart-menu-center p:last-child {
        font-size: 13px;
        line-height: 16px;
    }

    .right-menu .sm-bag {
        width: 100%;
    }

    .right-menu .sm-bag .bag-title a {
        font-size: 17px;
        line-height: 22px;
    }

    .right-menu .sm-bag .bag-title span {
        font-size: 13px;
        line-height: 22px;
    }

    .right-menu .sm-bag .button {
        font-size: 14px !important;
    }

    .banner .text_b3 img:first-child {
        width: 255px;
    }

    .banner div .title {
        font-size: 42px;
        line-height: 52px;
    }

    .banner div .text_content {
        font-size: 14px;
        line-height: 20px;
    }

    .footer {
        height: 140%;
    }
}

@media screen and (max-width: 500px) {
    .banner .text_b3 img:first-child {
        width: 210px;
    }

    .banner div .title {
        font-size: 40px;
        line-height: 50px;
    }

    .banner .text_b2 .text_content {
        width: 240px;
    }

    .banner .text_b3 .text_content {
        width: 220px;
    }

    .collections {
        margin-top: 10px;
    }

    .gallery_title {
        width: 80%;
        margin: 0 10%;
    }

    .mosaicflow {
        width: 310px;
    }

    .item-hover-pos {
        left: 0;
        right: 0;
        bottom: 15%;
    }

    .item-hover-pos p {
        width: 198px;
        font-size: 18px;
        line-height: 26px;
    }

    .item-hover-pos .button {
        width: 200px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    }
}

@media screen and (max-width: 425px) {
    .button {
        font-size: 16px !important;
    }

    .right-menu .sm-hanger {
        height: 230px;
    }

    .right-menu .sm-hanger .content {
        color: #f9f5e7;
        width: 125px;
        height: 170px;
        top: 50%;
        left: 50%;
    }

    .right-menu .sm-hanger .content h3 {
        font-size: 26px;
        line-height: 30px;
    }

    .right-menu .sm-hanger .content p {
        font-size: 11px;
        line-height: 15px;
    }

    .right-menu .sm-hanger img {
        display: none;
    }

    .right-menu .sm-bag .bag-title a {
        font-size: 16px;
    }

    .right-menu .sm-bag .bag-title span {
        font-size: 12px;
    }

    .right-menu .sm-bag p {
        font-size: 12px;
    }

    .banner .text_b3 img:first-child {
        width: 190px;
    }

    .banner div .title {
        font-size: 34px;
        line-height: 44px;
    }

    .banner div .text_content {
        font-size: 12px;
        line-height: 18px;
    }

    .banner .text_b2 .text_content {
        width: 240px;
    }

    .banner .text_b3 .text_content {
        width: 180px;
    }

    .gallery_title {
        width: 90%;
        margin: 0 5%;
    }

    .slide-wrapper {
        top: 19vw;
    }

    .client {
        font-size: 20px;
        line-height: 30px;
    }

    .client .frame {
        width: 200px;
        height: 200px;
    }

    .client img {
        width: 310px;
    }

    .slider .text {
        margin-left: 45px;
    }

    .slider .text:before, .slider .text:after {
        height: 30px;
        font-size: 40px;
    }

    .slider .text:after {
        margin-right: 15px;
    }

    .footer {
        height: 135% !important;
    }

    .footer .content-top .title {
        font-size: 20px;
        line-height: 40px;
    }

    .footer .content-top p {
        font-size: 14px;
        line-height: 20px;
    }

    .content-top .text_content {
        margin: 20px 0;
    }

    .content-bottom span, .b-brands p {
        font-size: 17px;
    }

    .social-group {
        width: 100%;
    }

    .social-group a {
        height: 13vw;
        margin: 0 1.55vw;
    }

    .social-frame {
        width: 13vw;
        height: 13vw;
        border: 0.8vw solid #f9f5e7;
    }

    .social-group i.fa {
        line-height: 11.9vw;
        font-size: 5vw;
    }

    .right-col .menu-active:before {
        font-size: 25px;
    }

    .right-col .block h6 {
        font-size: 12px;
        line-height: 16px;
    }

    .right-col .block li {
        padding: 3px 0;
        font-size: 10px;
        line-height: 14px;
    }
}

@media screen and (max-width: 380px) {
    .banner .text_b3 img:first-child {
        width: 165px;
    }

    .banner div .title {
        font-size: 31px;
        line-height: 41px;
    }

    .banner div .text_content {
        font-size: 11px;
        line-height: 16px;
    }

    .banner .text_b2 {
        top: 62%;
        left: 50%;
    }

    .banner .text_b2 .text_content {
        width: 240px;
    }

    .banner .text_b3 .text_content {
        width: 155px;
    }
}