/*------------------------------------------------------------------
0. Basic Settings
1. Menu
2. Container
3. Footer
-------------------------------------------------------------------*/
/*
0. Basic Settings
------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/*Reset settings*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body, html {
  font-family: 'Lato', sans-serif;
  font-size: 16px; }

.main_container {
  padding: 0; }

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: none;
  background: #247dc4;
  border: 0;
  -webkit-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear; }
  .back-to-top:hover, .back-to-top:focus {
    background: #4f9fdf; }

/*
0. /Basic Settings
------------------------------------------------------------------*/
/*
1. Menu
------------------------------------------------------------------*/
#company_header {
  color: #fff;
  background: #247dc4;
  min-height: 100px;
  padding: 20px; }
  #company_header h1 {
    font-size: 3rem; }
  #company_header .lead {
    margin: 0;
    font-size: 1.8rem; }

#nav_menu {
  width: 100%;
  margin: 0;
  border: 0;
  border-bottom: 2px solid #0a304e;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: #0a5a99; }
  #nav_menu .navbar-brand {
    padding: 5px 20px; }
    #nav_menu .navbar-brand img {
      height: 50px; }

#myNavbar li > a {
  padding: 20px 25px;
  color: #ffb430;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear; }
  #myNavbar li > a:hover, #myNavbar li > a:focus {
    color: #e04e18;
    background: transparent; }

#myNavbar li.active > a {
  background: #0a304e; }

.fixed_menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50; }

/*
1. /Menu
------------------------------------------------------------------*/
/*
2. Container
------------------------------------------------------------------*/
#container {
  padding: 0;
  background: #f9f9f9; }
  #container.toppadding {
    padding-top: 65px; }

#myCarousel img {
  width: 100%; }

.content_block {
  text-align: center; }
  .content_block .content_title {
    font-size: 2.5rem;
    margin-bottom: 15px; }
  .content_block .article_title {
    font-size: 1.5rem;
    margin: 10px 0 30px; }
  .content_block .view_more_btn {
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }

.get_more_block .row,
.what_we_do_block .row {
  margin: 0; }

.what_we_do__inner_wrapper,
.get_more__inner_wrapper {
  padding: 50px 0 0; }

.get_more_block .get_more__inner_wrapper {
  padding-bottom: 30px; }

.get_more_block .col-sm-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.get_more_block .well {
  margin: 20px;
  -webkit-border-radius: 0;
          border-radius: 0; }

/*
2. /Container
------------------------------------------------------------------*/
/*
3. Footer
------------------------------------------------------------------*/
#footer {
  border-top: 2px solid #0a304e;
  background: #0a5a99;
  padding: 20px 15px; }
  #footer a {
    color: #ffb430;
    -webkit-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
    -webkit-border-radius: 0;
            border-radius: 0;
    background: none; }
    #footer a:hover, #footer a:focus {
      color: #e04e18; }
  #footer .footer_bottom {
    font-size: 0.8rem;
    color: #fff; }

/*
3. /Footer
------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  #header .mobile_menu_btn {
    background: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    border: 0;
    margin: 13px 15px; }
    #header .mobile_menu_btn:hover, #header .mobile_menu_btn:focus {
      background-color: transparent; }
  #header #nav_menu {
    height: 60px; }
  .get_more_block .col-sm-12 {
    display: block; } }

/*# sourceMappingURL=style.css.map */
